body{
    margin-top: -23px;
    margin-left: -3px;
    margin-right: -3px;
}

h1{
    color: rgb(233, 237, 240);
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}

.intro{
    height: 300px;
    width: 100%;
    background-image: url(https://e0.365dm.com/21/06/1600x900/skysports-grpahic-graphic-premier-league_5415970.png?20210615153425);
    background-size: 100vh;
    background-size: 50vw;
}

.para{
    margin-top: -20px;
   text-align: center;

}
.para p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 150px;
    padding-right: 150px;
    
}

.btn{
    background-color: rgb(51, 150, 189);
    padding: 10px;
    border-radius: 25px 25px;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgb(214, 183, 161);
}

h2{
    margin-top: 50px;
    text-align: center;
}

.row{
    display: flex;
}