body{
    margin-top: 0px;
    margin-left: -3px;
    margin-right: -3px;
    background-color: rgb(19, 24, 29);
    overflow: auto;
}

.intro{
    background-image:url(https://resources.premierleague.com/photos/2020/10/14/c29e2653-0d5b-4099-a5c8-82e27839bf66/Statement_Graphic_Pink.png?width=930&height=620);
    width: 100v;
    height: 30vh;
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
    border-color: white 3px solid;
}


h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
    position: relative;
    font-weight: bold;
    
}

h1:hover{
    color: rgb(73, 50, 117);
}


#para {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
}


span{
    color: rgb(212, 206, 206);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.btn{
    background-color: rgb(51, 150, 189);
    padding: 10px;
    border-radius: 25px 25px;
    text-decoration: none;
    color: rgb(241, 241, 241);
}

a:hover{
    background-color: rgb(11, 22, 13);
}

h3{
    color: rgb(191, 223, 190);
}

li{
    color: rgb(244, 245, 247);
}

.t-lnk{
    background-color: teal;
    padding: 5px;
    text-decoration: none;
    border-radius: 25px 25px;
    color: white;
}



h2{
    margin-top: 30px;
    text-align: center;
    color: teal;
    font-size: 30px;
    font-family:fantasy;
    position: relative;
    text-transform: uppercase;
}

h2:hover{
    color: rgb(251, 255, 255);
}


img{
    width: 100%;
    max-width: 100%;
}

.section{
    margin-left: 150px;
    margin-right: 100px;
}
.row{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
 .column {
    background-color: rgb(19, 24, 29);
    margin: 10px;
    width: 550px;
    max-width: 500px;
    height: 400px;
    color:white;

  }

  .column:hover{
    transition: 2.5s;
    transform: scale(1.5); 
    color: rgb(55, 92, 128);;
  }

